.card {
  padding: 24px;
  box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.1);
  display: flex;
  gap: 20px;
  border-radius: 16px;

  width: 360px;
  height: 168px;

  @media (width <= 375px) {
    flex-direction: column;
    width: 162px;
    height: 242px;
    gap: 16px;
    padding: 16px;
  }
}

.userImage {
  width: 112px;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;

  flex-shrink: 0;

  @media (width <= 375px) {
    height: 120px;

    width: 130px;
  }

  &.archivedImage {
    filter: grayscale(85%);
    opacity: 0.75;
  }
}

.firstLine {
  display: flex;
  gap: 16px;
  width: 100%;

  @media (width <= 375px) {
    gap: 12px;
  }
}

.userName {
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--accent);

  text-overflow: ellipsis;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.2;

  @media (width <= 375px) {
    font-size: 18px;

    max-width: 94px;
  }

  &.archived {
    color: var(--color-02);
  }
}

.companyName {
  margin-top: 4px;
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-02);

  text-overflow: ellipsis;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.2;

  @media (width <= 375px) {
    font-size: 14px;

    max-width: 94px;
  }

  &.archived {
    color: var(--color-03);
  }
}

.city {
  margin-top: auto;
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-03);

  text-overflow: ellipsis;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.2;

  @media (width <= 375px) {
    font-size: 10px;

    max-width: 94px;
  }

  &.archived {
    color: var(--color-04);
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.menuContainer {
  position: relative;
  margin-left: auto;
}

.burgerButton {
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
  width: 24px;
  height: 24px;

  @media (width <= 375px) {
    transform: scale(0.625);
  }

  &:hover {
    @media (width > 375px) {
      path {
        fill: var(--accent);
      }
    }
  }

  &.open {
    path {
      fill: var(--color-02);
    }
  }
}
