.at {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 19.5px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--gray-900);
}

.work {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 19.5px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--gray-900);
}

.main {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.wordContainer {
  display: flex;
}
